<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>New Request</title>
</head>
<body>
<div layout:fragment="main-content">
  <form th:action="@{/request/new}" th:object="${request}" method="post">

    <div class="form-group">
      <label for="tenant">Tenant</label>
      <select id="tenant" class="form-control" th:field="*{tenant.id}">
        <option th:each="tenant : ${tenants}" th:value="${tenant.id}" th:text="${tenant.username}"></option>
      </select>
    </div>

    <div class="form-group">
      <label for="property">Property</label>
      <select id="property" class="form-control" th:field="*{property.propertyid}">
        <option th:each="property : ${properties}" th:value="${property.propertyid}" th:text="${property.address}"></option>
      </select>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select id="status" class="form-control" th:field="*{status}">
        <option value="2" th:text="'Not Verified'"></option>
        <option value="1" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:text="'Verified'"></option>
      </select>
    </div>





    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
</html>
