<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{page_layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
</head>
<body>
<div layout:fragment="main-content">

  <!-- Check if the user exists and display the information -->
  <div th:if="${user != null}">
    <table class="table">
      <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Username</th>
        <th>Roles</th>  <!-- Added column for roles -->
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td>
          <!-- Iterate over roles and display them -->
          <span th:each="role : ${user.roles}" th:text="${role.name}"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Display success message if tenancy is requested -->
  <div th:if="${successMessage}">
    <p th:text="${successMessage}" style="color:green;"></p>
  </div>

  <!-- Show error message if the user is already verified -->
  <div th:if="${param.error == 'alreadyVerified'}">
    <p style="color:red;">You have already been verified. No further action needed.</p>
  </div>

  <div th:if="${user != null and user.verified != 2}">
    <sec:authorize access="!(#user.roles.contains(''ROLE_ADMIN''))">
      <a href="/requestTenancy" class="btn btn-warning" role="button">Request Tenancy</a>
    </sec:authorize>
  </div>


  <!-- If no user exists, show message -->
  <div th:if="${user == null}">
    No user found!
  </div>

</div>
</body>
</html>
